/bin
/*~
/**/*~
/.DS_Store
/**/.DS_Store

/com.*
/launches/*.properties

/bin*/
/*.map
/*.properties
/*.jazzignore
/src/.generated~/
/target~/
/.settings/org.sonar.ide.eclipse.core.prefs
/_*/
# */launches/
/launches/*.properties
/ej.examples.*/
